@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root{
  --primaryGreen: #02796a;
}

.primaryGreen{
  background-color: var(--primaryGreen);
}
.hero {
  background-color: var(--primaryGreen);
}

.jumbotron{
  background: url('./assets/lawyer.jpeg') no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#whatsapp{
  display: none;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 38px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.my-float {
  margin-top: 16px;
}
